src/main/resources/spring/prioritized-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/prioritized-spring"
	xmlns:tns="http://www.example.org/prioritized-spring"
	elementFormDefault="qualified">
	<element name="priority" type="string"></element>
	<element name="config" type="string"></element>

	<attribute name="spring" type="string"></attribute>
</schema>